/.venv
/main.exe
/result_genetic_pop10
/result_genetic_pop100
/result_genetic_pop15
/result_genetic_pop20
/result_genetic_pop25
/result_genetic_pop30
/result_genetic_pop35
/result_genetic_pop40
/result_genetic_pop45
/result_genetic_pop5
/result_genetic_pop50
/result_genetic_pop55
/result_genetic_pop60
/result_genetic_pop65
/result_genetic_pop70
/result_genetic_pop75
/result_genetic_pop80
/result_genetic_pop85
/result_genetic_pop90
/result_genetic_pop95
